.category {
  border: none;
  background-color: transparent;
  color: blue;
}

.category:focus {
  color: green;
}

.shipping-form {
  width: 90%;
  margin-left: 50px;
  min-height: 390px;
}

#hideDiv {
  animation: hideMessage 0s 5s forwards;
  visibility: visible;
  background-color: lightseagreen;
  color: white;
}

.welcome {
  color: white;
}

.service-unavailable {
  padding-top: 120px;
  font-size: larger;
  height: 450px;
}

.page-loader {
  padding-top: 150px;
  font-size: xx-large;
  height: 450px;
}

.cart-icon {
  color: white;
}

.cart-table {
  margin-top: 25px;
  margin-bottom: 45px;
  margin-left: 75px;
  margin-right: 75px;
  min-height: 390px;
}

.quantity {
  width: 45px;
  text-align: center;
}

.product-list {
  padding-bottom: 25px;
  margin-left: 0 !important;
}

.product-card {
  margin-bottom: 10px;
  margin-top: 20px;
  padding-bottom: 10px;
  background-color: honeydew !important;
}

.product-header {
  text-align: center;
  background-color: honeydew;
  padding-top: 10px;
  padding-bottom: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.pimage {
  display: inline-flexbox;
  height: 90%;
  width: 100%;
  max-height: 300px;
  max-width: 270px;
}

.product-review {
  text-align: start;
  margin-top: 30px;
  margin-left: 25px;
}

.product-add {
  width: 150px;
  align-self: center;
  background-color: lightseagreen !important;
  border: lightseagreen !important;
  font-weight: bold !important;
}

.menu {
  color: antiquewhite;
  vertical-align: middle;
}

.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  align-self: flex-start;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 12vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 25px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes hideMessage { to { visibility: hidden; }}
