.service-unavailable {
  padding-top: 120px;
  font-size: larger;
  height: 450px;
}

.page-loader {
  padding-top: 150px;
  font-size: xx-large;
  height: 450px;
}

.cart-icon {
  color: white;
}

.product-list {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 25px;
}

.product-card {
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 20px;
  padding-bottom: 10px;
  background-color: honeydew !important;
}

.product-header {
  text-align: center;
  background-color: honeydew;
  padding-top: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.pimage {
  display: block;
  height: 90%;
  width: 100%;
}

.product-review {
  text-align: start;
  margin-top: 30px;
  margin-left: 25px;
}

.product-add {
  width: 200px;
  align-self: center;
  background-color: lightseagreen !important;
  border: lightseagreen !important;
  font-weight: bold !important;
}

.menu {
  color: antiquewhite;
  vertical-align: middle;
}

.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  align-self: flex-start;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 12vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 25px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
