body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

a:hover {
  color: lightseagreen !important;
}

.header {
  height: 50px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  background-color: lightsalmon;
}

.footer {
  height: 100px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 45px;
  background-color: #282c34;
  text-align: center;
  vertical-align: middle;
  font-style: italic;
  color: white;
}

.pcart {
  background-color: #f1f1f1;
  color: black;
  font-size: 16px;
  padding: 10px 30px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
}

.pcart:hover {
  background-color: black;
  color: white;
}

.ptab {
  width: 100%;
  padding-bottom: 25px;
}

.prow {
  width: 100%;
  padding-bottom: 25px;
}
